{% extends 'base.html.twig' %}

{% set currentYear = date('Y') %}
{% set currentYearString = currentYear|date('Y') %}

{% block title %}Enregistrez-vous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}

<div class="form-signin text-center">
    {{ form_start(registrationForm) }}
    <img class="mb-4 rounded" src="{{ asset('img/logo4mation.png') }}" alt="" width="80%">
    <h1 class="h3 mb-3 fw-normal">Enregistrez-vous</h1>

    <div class="form-floating">
        <input type="email" class="form-control {% if form_errors(registrationForm.email) %}is-invalid{% endif %}" id="floatingInput" placeholder="name@example.com"
               name="{{ field_name(registrationForm.email) }}"
               value="{{ field_value(registrationForm.email) }}">
        <label for="floatingInput">{{ field_label(registrationForm.email) }}</label>
        {% if form_errors(registrationForm.email) %}
            <div class="form-text text-danger">
                {{ form_errors(registrationForm.email) }}
            </div>
        {% endif %}
    </div>

    <div class="form-floating">
        <input type="password" class="form-control  {% if form_errors(registrationForm.plainPassword) %}is-invalid{% endif %}" id="floatingPassword" placeholder="name@example.com"
               name="{{ field_name(registrationForm.plainPassword) }}"
               value="{{ field_value(registrationForm.plainPassword) }}">
        <label for="floatingPassword">{{ field_label(registrationForm.plainPassword) }}</label>
        {% if form_errors(registrationForm.plainPassword) %}
            <div class="form-text text-danger">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        {% endif %}
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" class="form-check-input {% if form_errors(registrationForm.agreeTerms) %}is-invalid{% endif %}" name="{{field_name(registrationForm.agreeTerms)}}"  value="{{field_value(registrationForm.agreeTerms)}}"> {{field_label(registrationForm.agreeTerms)}}
      </label>
    </div>

    <button class="w-100 btn btn-lg btn-primary bg-primaire" type="submit">S'enregistrer</button>
    <p class="mt-5 mb-3 text-muted">© TLXL - 4MAt!on -   {{ currentYearString }}</p>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
