{% extends 'base/main_template.html.twig' %}

{% block title %}Demandes de cours{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Demandes de cours</h1>
      

   
      </div>

 
          <button type="button" class="btn btn-primary mb-3" onclick="location.reload();">Rafraîchir la page</button>

    

        {% if demandes is empty %}
            <p>Aucune demande en cours pour le moment.</p>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Intitulé</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demande in demandes %}
                        <tr>
                            <td>{{ demande.dateDebut|date('Y-m-d H:i') }}</td>
                              <td>{{ demande.dateFin|date('Y-m-d H:i') }}</td>
                            <td>{{ demande.module }}</td>
                            <td>
                                <form method="post" action="{{ path('accepter_demande', {'id': demande.id}) }}">
                                    <button type="submit" class="btn btn-success">Accepter</button>
                                </form>
                                <form method="post" action="{{ path('refuser_demande', {'id': demande.id}) }}">
                                    <button type="submit" class="btn btn-danger">Refuser</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
      
    </main>
{% endblock %}