{% extends 'base.html.twig' %}

{% set currentYear = date('Y') %}
{% set currentYearString = currentYear|date('Y') %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}



    <div class="form-signin text-center">

        {{ form_start(requestForm) }}
        <img class="rounded" src="{{ asset('img/logo/logo_4mation_purple_wo_bg.png') }}" alt="" width="70%">
        <h1 class="h3 mb-3 fw-normal">Réinitialisation du mot de passe</h1>
       
        <div class="form-floating pb-4">
            <input type="email" class="form-control {% if form_errors(requestForm.email) %}is-invalid{% endif %}"
                   id="floatingInput" placeholder="name@example.com"
                   name="{{ field_name(requestForm.email) }}"
                   value="{{ field_value(requestForm.email) }}">
            <label for="floatingInput">{{ field_label(requestForm.email) }}</label>
            {% if form_errors(requestForm.email) %}
                <div class="form-text text-danger">
                    {{ form_errors(requestForm.email) }}
                </div>
            {% endif %}
        </div>
          {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {% if successMessage %}
            <div class="alert alert-success" role="alert">{{ successMessage }}</div>
        {% endif %}

        <button class="w-100 btn btn-lg btn-primary bg-primaire" type="submit">Demander la réinitialisation</button>
        <p class="mt-5 mb-3 text-muted">© TLXL - 4MAt!on - {{ currentYearString }}</p>
        {{ form_end(requestForm) }}


    </div>

{% endblock %}

