{% extends 'base.html.twig' %}

{% set currentYear = date('Y') %}
{% set currentYearString = currentYear|date('Y') %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}



    <div class="form-signin text-center">

        {{ form_start(loginForm) }}
        <img class="rounded" src="{{ asset('img/logo/logo_4mation_purple_wo_bg.png') }}" alt="" width="70%">
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                L'email et/ou le mot de passe est incorrect
            </div>
        {% endif %}

        <div class="form-floating">
            <input type="email" class="form-control {% if form_errors(loginForm._username) %}is-invalid{% endif %}"
                   id="floatingInput" placeholder="name@example.com"
                   name="{{ field_name(loginForm._username) }}"
                   value="{{ field_value(loginForm._username) }}">
            <label for="floatingInput">{{ field_label(loginForm._username) }}</label>
            {% if form_errors(loginForm._username) %}
                <div class="form-text text-danger">
                    {{ form_errors(loginForm._username) }}
                </div>
            {% endif %}
        </div>

        <div class="form-floating">
            <input type="password" class="form-control  {% if form_errors(loginForm._password) %}is-invalid{% endif %}"
                   id="floating_password" placeholder="name@example.com"
                   name="{{ field_name(loginForm._password) }}"
                   value="{{ field_value(loginForm._password) }}">
            <label for="floating_password">{{ field_label(loginForm._password) }}</label>
            {% if form_errors(loginForm._password) %}
                <div class="form-text text-danger">
                    {{ form_errors(loginForm._password) }}
                </div>
            {% endif %}
        </div>
        <div class="pb-3">
            <a class="link-primary" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
        </div>

        <button class="w-100 btn btn-lg btn-purple bg-primaire" type="submit">Se connecter</button>
        <p class="mt-5 mb-3 text-muted">© TLXL - 4MAt!on - {{ currentYearString }}</p>
        {{ form_end(loginForm) }}


    </div>

{% endblock %}
